@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body {
    background-color: grey;
}

.form {
    text-align: center;
    
}

.display {
    text-align: center;
}

h1 {
    text-align: center;
    color: darkblue;
}